<h1>info 수정 페이지</h1>

<form action="/info/update/<%= @info.id%>" method="post" enctype="multipart/form-data">
    <div>
        <p>프로필 사진</p>
        <input type="file" name="image_url" id="info_image_url"><br>
    </div>

    <div>
        <p>자기소개</p>
        <input type="text" name="introduction">
    </div>
    
    <input type="submit" value="저장">
</form>
    
<div>
    <p>하는 게임을 모두 선택하시오.</p>
    <form action="/plays/update/<%= current_user.id %>" method="post">
        <% @categories.each do |category|%> 
            <p>
              <label>
                <input type="checkbox" name="category_id[]" value= "<%= category.id %>" class="filled-in"  />
                <span><%= category.name %></span>
              </label>
            </p>
        <% end %> 
        
        <input type="submit" value="저장">  
    </form>    
       
</div>