<h1>info 생성 페이지</h1>

    <form action="/info/create" method="post" enctype="multipart/form-data">
        <div>
            <p>프로필 사진</p>
            <input type="file" name="image_url" id="imgInput"><br>
            <!-- 저장 전에 미리보기 -->
            <img id="image_section" src="#" alt="your image" />
        </div>
    
        <div>
            <p>자기소개</p>
            <input type="text" name="introduction">
        </div>
        
        <div class="aa">
            <p>하는 게임을 모두 선택하시오.</p>
<!--check box-->
        <div class="inline field">
            <div class="ui toggle checkbox">
              <input type="checkbox" tabindex="0" class="hidden">
              <label>Toggle</label>
            </div>
        </div>
        <div class="ui form">
  <div class="inline field">
    <div class="ui checkbox">
      <input type="checkbox" tabindex="0" class="hidden">
      <label>Checkbox</label>
    </div>
  </div>
  <!--여기까지 checkbox-->
            <% @categories.each do |category|%> 
                <%= category.name %>
                <% if current_user.following?(category) %>
                    <%= link_to "On", unfollow_info_path(category.id), method: 'post', remote: true , class: "game#{category.id}" %><br>
                <% else %>
                    <%= link_to "Off",follow_info_path(category.id), method: 'post', remote: true, class: "game#{category.id}" %><br>
        
                <% end %>
            <% end %>
        </div>
        
        <input type="submit" value="저장">
    </form>


<script>
    function readURL(input) {
     
        if (input.files && input.files[0]) {
            var reader = new FileReader();
     
            reader.onload = function (e) {
                $('#image_section').attr('src', e.target.result);
            }
     
            reader.readAsDataURL(input.files[0]);
        }
    }
     
    $("#imgInput").change(function(){
        readURL(this);
    });
    
    $('.ui.checkbox')
  .checkbox()
;
</script>













